body {
  font-family: "Anonymous Pro", monospace;
  font-family: "Caveat", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Slab", serif;
  background-image: url("rain drops.webp");
  background-size: cover;
}

li {
  font-size: 24px;
  color: #596aca;
}
img {
  max-width: 60px;
  margin: 0;
  padding: 0;
}
h1 {
  color: #ab47bc;
  background-color: #f6ecf8;
  display: block;
  margin-right: 15%;
  font-style: italic;
}
#country {
  color: #76d1cb;
}
h3 {
  color: #ffaa2e;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 20px;
}
h3::first-letter {
  text-transform: capitalize;
}
ul {
  list-style: none;
}
.weather-app {
  max-width: 70%;
  margin: 10px auto;
}
.logo {
  font-size: 65px;
}

.time {
  font-size: 16px;
  color: #1cb3a9;
  position: relative;
  top: -5px;
  display: inline-block;
}
.first-day {
  color: #f4e711;
  background-color: #fefde7;
  font-style: italic;
  display: inline-block;
  padding-right: 10px;
}
.other-day {
  font-weight: 400;
  font-size: 24px;
  color: #1cb3a9;
  font-style: italic;
}
.temperature {
  color: #42a5f5;
  font-weight: 400;
  font-size: 40px;
}
.units {
  font-size: 16px;
  position: relative;
  top: -16px;
}
.btn1 {
  background-color: #76d1cb;
  color: #ab47bc;
  border: none;
  transition: 200ms 0 ease-in-out;
}
.btn1:hover {
  background: #ab47bc;
  color: #76d1cb;
  border: 3px solid #76d1cb;
}
.btn2 {
  background: #f6ecf8;
  color: #ab47bc;
  border: none;
}
.btn2:hover {
  background-color: #f4e711;
  color: #ffaa2e;
  border: 3px solid #ffaa2e;
}
.footer {
  text-shadow: #ab47bc;
  line-height: 5;
}
